body {
    background: #333;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

.form-container {
    width: 50%;
    margin: 0 auto;
}

legend {
    font-size: 2rem;
    color: #ccc;
    font-weight: bold;
    padding: 5px;
}

form {
    max-width: 450px;
    margin: 0 auto;
}
form div {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
}

form input {
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 50px;
    background: #eee;
}
form input:focus {
 outline: 0;
 background: white;
}

form input:valid {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

form input:valid + .requirements {
    display: none;
}

#password-copy:valid {
    background: none;
}

form input:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
}

form input:invalid:focus:not(:placeholder-shown)  ~ .requirements {
      max-height: 200px;
      padding: 0 30px 20px 50px;
  }

  form input:invalid +.requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: pink;
    font-style: italic;
}

button {
background: none;
    width: 100%;
    color: white;
    border: 1px solid #eee;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s;
}

button:hover {
    font-size: 1.3rem;
}
