h1 {
    text-align: center;
    color: #aba6a6;
    margin-top: 30px;
    text-transform: capitalize;
    font-style: italic;
}

.to-do-list {
    width: 400px;
    padding: 1rem;
    box-shadow: 0 0 11px 1px rgba(114, 114, 114, 0.8);
    border-radius: 2px;
    margin: 5% auto;
}

.task-description {
    font-style: italic;
    margin-left: 10px;
    font-weight: 600;
    color: #011752;
}

input[type="text"] {
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #0a319a;
    outline: none;
    padding: 5px;
    font-style: italic;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="text"]:active {
    border-color: rgba(0, 29, 108, 0.52);
}

input[type="checkbox"] {
    margin-right: 5px;
}

.task {
    border-bottom: 2px solid #e1e1e1;
    font-style: italic;
    padding: 10px;
}

.delete-task {
    color: #e1e1e1;
    float: right;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.delete-task:hover {
    color: #c80000;
    border-color: red;
}

.to-do-list .task:hover .delete-task {
    display: inline-block;
}

.task.done {
    text-decoration: line-through;
}

.to-do-list-footer {
    margin-top: 20px;
}

.to-do-list-footer .buttons {
    display: inline-block;
    margin-left: 10px;
}

.to-do-list-footer button {
    margin: 0 5px;
    border-radius: 9px;
    border: 2px solid #e1e1e1;
    background: transparent;
}

.to-do-list-footer button:hover {
    background: aliceblue;
}

.to-do-list-footer button:focus {
    outline: none;
}

.to-do-list-footer button.selected {
    background: aliceblue;
    border-radius: 9px;
    border: 2px solid #e1e1e1;
}

.clear-completed {
    margin-top: 10px;
}